---
---

body {
  background: #f1f1f1;
}

article {
  font-family: ivyjournal, serif;
  font-weight: 400;

  max-width: 38em;
  padding: 0 2em;
  margin-bottom: 4em;
  font-size: 14pt;
  line-height: 1.6;

  img {
    width: 100%;

    .small-image {
      width: 20%;
    }
  }
}
